@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Libre Baskerville', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer components {
  .container {
    width: 100%;
    padding-inline: 24px;
    max-width: 1408px;
    margin-inline: auto;
  }

  .display {
    @apply text-[200px] leading-[150px] font-bold;
  }

  .heading-1 {
    @apply text-[24px] leading-[29px] font-bold md:text-[56px] md:leading-[64px];
  }

  .heading-2 {
    @apply text-[24px] leading-[29px] font-bold;
  }

  .heading-3 {
    @apply text-[18px] leading-[22px] font-bold;
  }

  .subheading-1 {
    @apply text-[15px] leading-[19px];
  }

  .subheading-2 {
    @apply text-[13px] leading-[17px];
  }

  .link-1 {
    @apply text-[12px] leading-[15px] tracking-[2.5px] text-dark-gray uppercase cursor-pointer transition-colors hover:text-black;
  }

  .link-2 {
    @apply text-[9px] leading-[11px] tracking-[2px] text-dark-gray underline uppercase cursor-pointer transition-colors hover:text-black;
  }

  .paragraph {
    @apply text-[14px] leading-[28px] text-dark-gray font-bold;
  }
}
